@charset "utf-8";

.AppList_wrap {
    display: flex;
    margin: 1rem;
}

.AppList_content {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.AppList_img {
    width: 4rem;
    height: auto;
    border-radius: 10px;
    margin-bottom: .5rem;
}

.AppList_p {
    overflow-wrap: normal;
    font-size: .8rem;
    text-align: center;
}

.AppList-input{
    padding-top: 8px;
    padding-right: 4px;
    padding-left: 4px;
}

.AppList-btn{
    color: #4b4b4b;
    border-color: #4b4b4b;
    background-color: #fafafa;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
}


.AppList-btn-reset {
    color: #e37141;
    border-color: #e37141;
    background-color: #fafafa;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
}

.AppList-fl-left {
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.AppList-fl-right {
    float: right;
    padding-right: 4px;
}

.AppList-fl-clear {
    clear: both;
}

.AppList_msg {
    text-align: center;
    margin: 1rem;
}

.swiper-wrapper {
    height: 89.5vh;
}

.AppList-badge {
    width: 1.3rem;
    height: 1.3rem;
}

.AppList_random_wrap {
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: #4b4b4b;
    border-radius: 10px;
    text-decoration: none;
}

.AppList_random {
    position: absolute;
    inset: 0;
    font-size: 2.5rem;
    width: fit-content;
    height: fit-content;
    margin: auto;
    color: #fafafa;
}

.AppList-loader {
    width: 50px;
    aspect-ratio: 1;
    --c: linear-gradient(#fafafa 0 0);
    --r1: radial-gradient(farthest-side at bottom, #fafafa 93%, #0000);
    --r2: radial-gradient(farthest-side at top, #fafafa 93%, #0000);
    background:
        var(--c), var(--r1), var(--r2),
        var(--c), var(--r1), var(--r2),
        var(--c), var(--r1), var(--r2);
    background-repeat: no-repeat;
    animation: l1 .8s infinite alternate;
    position: fixed;
    inset: 0;
    margin: auto;
    z-index: 15;
}

@keyframes l1 {

    0%,
    10% {
        background-size: 8px 0, 8px 4px, 8px 4px;
        background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
    }

    90%,
    100% {
        background-size: 8px 100%, 8px 4px, 8px 4px;
        background-position: 0 50%, 0 -2px, 0 calc(100% + 2px), 50% 50%, 50% -2px, 50% calc(100% + 2px), 100% 50%, 100% -2px, 100% calc(100% + 2px);
    }
}

.AppList-animation-bg {
    background: #3ea632;
    display: block;
    content: "";
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: PageAnime-btt;
}

@keyframes PageAnime-btt {
    0% {
        transform-origin: bottom;
        transform: scaleY(0);
    }

    50% {
        transform-origin: bottom;
        transform: scaleY(1);
    }
}

.AppList-pagination-button {
    position: sticky;
    top: 95vh !important;
}