.AppRequestStatus-title{
    position: sticky;
    top: 64px;
    border-bottom: solid 1px rgba(75,75,75,0.5);
    margin-top: 4px;
    background-color: #F0F0F0;
    font-size: .8rem;
    padding: .5rem .8rem;
}

.AppRequestStatus-title-status {
    margin-left: .2rem;
}

.AppRequestStatus-title-appname{
    margin-left: 2rem;
}

.AppRequestStatus-title-judgedate{
    float: right;
    margin-right: 2rem;
}

.AppRequestStatus-title-reqdate{
    float: right;
    margin-right: 3.5rem;
}

.AppRequestStatus{
    border-bottom: solid 1px rgba(75,75,75,0.5);
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
}

.status{
    display: inline-block;
    vertical-align: middle;
}

.AppRequestStatus-appname{
    display: inline-block;
    width: 80px;
    text-align: center;
    overflow-wrap: break-word;
}

.AppRequestStatus-judge_date{
    float: right;
}

.AppRequestStatus-request_date{
    float: right;
    vertical-align: middle;
}

.AppRequestStatus-pad-top{
    padding-top: 88px;
}

#AppRequestStatus-openmodal{
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 56px;
    height: 56px;
    background-color: #3EA632;
    border-color: #3EA632;
    border-radius: 50%;
}

.AppRequestStatus-request{
    text-align: center;
    width: 100%;
}

.modal-footer{
    margin: 0 auto;
}

.AppRequestStatus-post{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #E37141;
    border-style: solid;
    color: #E37141;
    background-color: #FAFAFA;
}

.AppRequestStatus-post:hover{
    background-color: #E37141;
    color: #FAFAFA;
}

.AppRequestStatus-no{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}