header {
    height: 68px;
    background-color: #3EA632;
    padding-left: 16px;
    padding-right: 16px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-logo{
}

.Header-search{
    color: #FAFAFA;
    font-size: 2.5rem;
}

.Header-search > a {
    color: #FAFAFA;
    text-decoration: none;
}